@import url('https://fonts.googleapis.com/css2? family= Justo & family= Sarala & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
   font-size: 100%;
   background: linear-gradient(68.15deg, #f59c88 16.62%, chocolate 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem{
    height: 100px;
    border-radius: 100px;
}

.cabecalho-menu{
    display:flex;
    gap: 32px;      
}

.menu-item{
     font-family: 'Sarala', sans-serif;
     color:beige ;
     font-weight: 400;
     font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid beige ;
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: beige;
}

.principal-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: antiquewhite;
}

.principal-botao{
    background-color: coral;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    color: beige ;
    font-weight: 400;
    font-size: 24px;
}

.principal-botao:hover{
    background-color: chocolate;
}
.principal-imagem{
    height: 430px;
    border-radius: 20px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.secundario-titulo{
    border-top: 0.4px solid beige;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: beige;
    margin-bottom: 16px;
}

.secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: beige ;
    font-weight: 200;
    font-size: 18px;
}

.rodape{
    border-top: 0.4px solid beige;
    padding: 20px;
}